torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
transformers==4.42.4
gtts==2.3.2
gradio
opencv-python==4.10.0.84
numpy==1.26.4
ultralytics==8.2.58
python-doctr
pytesseract
flask-cors==4.0.1
geocoder==1.38.1
speechrecognition==3.10.0
pycocotools==2.0.7
flask==2.2.5
flask-socketio==5.3.6
eventlet==0.36.1
pyngrok==7.2.0
soundfile==0.13.1
pydub==0.25.1
librosa==0.10.2
